.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
}

.left {
  padding-top: 14px;
  display: flex;
  text-align: center;
  margin-right: auto;
}

.right {
  margin-left: auto;
}
